@CHARSET "UTF-8";

/* custom style*/
#menu-mainmenu {
	padding-top: 20px;
}

#content {
	padding-top: 25px;
}

#footer {
	background-color: #EEEEEE;
	width: 100%;
}

#widget-footer {
	margin-top: 20px;
}

/* begin video container(responsive)*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.video-container iframe, 
.video-container object, 
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

audio {
	width:500px;
}

@media screen and (max-width: 600px) {
	/* likebox responsive*/
	div.fb-like,
	div.fb-like iframe[style],
	div.fb-like span {
		width: 100% !important;
	} 
}


#slideshow {
    position:relative;
    height: 500px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}
